html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

table {
    background-color: #d8d6d0;
}
table tr:hover td {
    background-color: #c2b79b;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #c2b79b;
    padding: 10px 20px 0px;
}
.header {
    background-color: #243757;
    min-height: 50px;
}
.content {
    background-color: #dad5b7;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #3a5f6f;
    min-height: 150px;
}